[submodule "common"]
	path = common
	url = https://github.com/8818freak/herbers-android-common
[submodule "docextract"]
	path = docextract
	url = https://github.com/8818freak/herbers-android-docextract
